apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
spec:
  # Headless service for StatefulSet
  clusterIP: None
  selector:
    app: mongodb
  ports:
  - port: 27017
    targetPort: 27017
    name: mongodb
